<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9768b3">  <td>18/10/28 12:16:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGPractice.browserappaunch()[pri:0, instance:com.marcurytoursone.test.TestNGPractice@1579e0f]">&gt;&gt;browserappaunch</td> 
<td>&nbsp;</td>  <td>main@14157356</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>18/10/28 12:16:47</td>   <td>23565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGPractice.verifiedvalidLogn()[pri:0, instance:com.marcurytoursone.test.TestNGPractice@1579e0f]">verifiedvalidLogn</td> 
  <td>main@14157356</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>18/10/28 12:17:04</td>   <td>40842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGPractice.cleanUp()[pri:0, instance:com.marcurytoursone.test.TestNGPractice@1579e0f]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td>  <td>main@14157356</td>   <td></td> </tr>
</table>
