<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MarcuryRegressionSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7070">  <td>18/11/07 11:00:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGPractice.browserappaunch()[pri:0, instance:com.marcurytoursone.test.TestNGPractice@1d0c81b]">&gt;&gt;browserappaunch</td> 
<td>&nbsp;</td>  <td>main@11866710</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>18/11/07 11:00:30</td>   <td>10557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGPractice.verifiedvalidLogin()[pri:1, instance:com.marcurytoursone.test.TestNGPractice@1d0c81b]">verifiedvalidLogin</td> 
  <td>main@11866710</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>18/11/07 11:00:38</td>   <td>18401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGPractice.cleanUp()[pri:0, instance:com.marcurytoursone.test.TestNGPractice@1d0c81b]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td>  <td>main@11866710</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>18/11/07 11:00:39</td>   <td>19101</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Dashboard.driverlaunch()[pri:0, instance:com.marcurytoursone.test.Dashboard@cdbdf5]">&gt;&gt;driverlaunch</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11866710</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>18/11/07 11:00:54</td>   <td>34733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dashboard.selectedType()[pri:1, instance:com.marcurytoursone.test.Dashboard@cdbdf5]">selectedType</td> 
  <td>main@11866710</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>18/11/07 11:00:54</td>   <td>34813</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Dashboard.selectDropdown()[pri:2, instance:com.marcurytoursone.test.Dashboard@cdbdf5]">selectDropdown</td> 
  <td>main@11866710</td>   <td></td> </tr>
<tr bgcolor="9768b3">  <td>18/11/07 11:00:55</td>   <td>35103</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Dashboard.driverquit()[pri:0, instance:com.marcurytoursone.test.Dashboard@cdbdf5]">&lt;&lt;driverquit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11866710</td>   <td></td> </tr>
</table>
